body {
    font-family: sans-serif;
    background-color: #fff2f2;
}
.header{
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    padding:0 50px 0 50px;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    color:#000000;
    background-color: #ffffff;
}
.img_logo{
    height: 25px;
    padding:10px 10px 0 0;
}
.logos{
    display: flex;   
}
.search-container{
    margin-right: 15px;
}
header{
    background-image: url("https://img.tsn.ua/cached/825/tsn-8d1621a47e57f8d275b9b822fb9c4f13/thumbs/428x268/31/47/0f0a3006a6b942597e2aa6d254014731.jpg");
    height: 200px;
    width:100%;
    display:flex;
}
h1{
    display:flex;
    justify-content: center;
    align-items:center;
    margin: auto;
    color:#ffadad;
    background-color:#730000a9;
    border-radius:50px;
    width: fit-content;
    font-size: 30px;
    padding: 5px;
}
nav{
   display:flex;
   justify-content: center;
   justify-content: space-around;
   flex-wrap: nowrap;
   background-color: #DD7373;
   padding: 10px 0 10px 0;
   margin: 10px 0 10px 0;
   height: 50px;
}
.a_1, .a_, .a_2, .a_3{
    /* border-right:2px solid #ffffff; */
    display: flex;
    padding: 10px 5% 10px 5%;
    background-color: #7300005a;
    margin: 5px;
    border-radius: 10px;
    color:#ffffff;
    padding: 10px;
    
}
.a_catalog_{
    background-color: #ffffff;
    color:#000000;
    border-radius: 10px;
    display: block;
    padding: 8px;
}
.div-nav-a{
    display: block;
    padding: 3px;
    text-align: center;
}
.a_catalog_{
    margin:5px;

}
a{
    /* color:#ffffff; */
    text-decoration: none;
}
.main_section{
    display:flex;
    justify-content: space-around;
}
.div-nav{
    height: 50px;
    transition: 0.3s;
    overflow: hidden;
}
.div-nav:hover{
    height:auto;
}
.precrasu{
    background-color:#FCD7D7;
    padding-left:10px;
    padding-right:10px;
    margin: 5px;
    font-size: 10px;
    width: 20%;
    height: 250px;
    transition: 0.3s;
    overflow: hidden;
}
.precrasu:hover{
    height: 240px;
    }
.posupca{
    background-color:#FCD7D7;
    padding-left:10px;
    padding-right:10px;
    margin: 5px;
    font-size: 10px;
    width: 20%;
    height: 250px;
    transition: 0.3s;
    overflow: hidden;
    }
.posupca:hover{
    height: 150px;
    }
.pasxa{
    background-color:#FCD7D7;
    padding-left:10px;
    padding-right:10px;
    margin: 5px;
    font-size: 10px;
    width: 20%;
    height: 250px;
    transition: 0.3s;
    overflow: hidden;
}
.pasxa:hover{
    height: 220px;
}
footer{
    background-color: #C64646;
    padding: 15px;
}
.footer_h2{
    font-size: 18px;
    color:#ffffff;
}
ul{
    font-size:14px;
    margin:5px;
    color:#870202;
}
.footer_article{
    border:2px solid #ffffff;
    height: 140px ;
    width: 200px;
    padding: 7px;
}
.footer_p{
    font-size: 14px;
    color:#870202;
}
.footer_article{
    border:2px solid #ffffff;
    height: 140px ;
    width: 250px;
    padding: 7px;
}
.footer_p{
    font-size: 14px;
    color:#870202;
}
.footer2_article{
    border:2px solid #ffffff;
    height: 140px ;
    width: 290px;
    padding: 7px;
}
.footer_section{
    display:flex;
    justify-content: space-around;
}
.a_li{
    color:#870202;
    text-decoration:none;
}
.footer_img{
    width: 50px;
    margin: 5px;
}


.main_section{
    background: linear-gradient(#B81C1C, #D9A3A3);
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    color:#ffffff;
    flex-wrap: wrap;
}

.main_div22_goods{
    display: flex;
    flex-wrap: wrap;
    
}

.main_div22_goods_div{
    width: 470px
}
.main_div22_goods_div{
    margin:5%;

}
.main_div22_goods_div2_p{
    /* width:50%; */
}